<!-- Start Navigation Bar, insert logo at brand -->
<%= render 'shared/nav' %>
<!-- End -->

            <!--    Begin Capture Screen       -->
<div id="capture-wrapper">
  <div class="container-fluid" id="kalipay-capture">
    <section class="container">
    	<div class="row text-center">
        <%= image_tag "kalipay-wallpaper.png", class:"kalipay-wallpaper img-responsive" %>
    	</div>
    </section>
  </div>
</div>

<!--   Picture Collage for Campaigns Done   -->
<section class="container-fluid">
      <div class="row kalipay-div-1">
        <div class="col-md-6" >
        </div>      
        <div class="col-md-6">
          <div class="row kalipay-div-2">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>    
          </div>
          <div class="row kalipay-div-3">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>    
          </div>
        </div>  
      </div>
      <div class="row kalipay-div-4">
        <div class="col-md-3">
        </div>    
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
</section>

<!-- About Section -->

<section class="container" id="about-wrapper">
  <div class="row" id="kalipay-about">
    <div class="col-md-offset-2 col-md-8">
      <h2>About Project Kalipay</h2>
      <p><%= @content.text_content_main %></p>
    </div>
  </div> 
    
</section>

<!-- End about -->


<!-- articles listing -->

<section class="container">
  <%= render "shared/blog_post.html.erb" %>
</section>

<%= render "shared/footer" %>