<div class="container" id="show-post">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="row">
				<%= image_tag @post.image_url.to_s, class:"img-responsive img-post" %>
			</div>	
			<h1><%= @post.heading %></h1>
			<p><%= @post.content %></p>

			<% if Rails.env.production? %>
				<%= link_to "Go back ...", root_path %>
			<% else %>
				<%= link_to "Go back development", root_path %>	
			<% end %>	

			<% if current_user %>	
				<%= link_to "delete post",  admin_post_path(:id => @post), class:"btn btn-warning", method: :delete, data: { confirm: 'Are you sure?'} %>
			<% end %>	
		</div>	
	</div>	
</div>

<%= render 'shared/footer' %>