<div class="container">
	<div class="row">
		<div class="col-md-offset-2 col-md-8">	
			<h1><%= @post.heading %></h1>
			<p><%= @post.content %></p>
			<%= link_to "Go back ...", root_path %>
			<% if current_user %>	
				<%= link_to "delete post",  admin_post_path(:id => @post), class:"btn btn-warning", method: :delete, data: { confirm: 'Are you sure?'} %>
			<% end %>	
		</div>	
	</div>	
</div>

<%= render 'shared/footer' %>