<div class="container" id="show-post">

	<div class="row">
		<div class="col-md-offset-2 col-md-8">
			<div class="row">
				<%= image_tag @post.image_url.to_s, class:"img-responsive img-post" %>
			</div>	
			<h1><%= @post.heading %></h1>
			<p><%= @post.content %></p>

			<% if Rails.env.production? %>
				<%= link_to "Go back ...", root_path %>
			<% else %>
				<%= link_to "Go back development", root_path %>	
			<% end %>	

			<% if current_user %>	
				<%= link_to "delete post",  admin_post_path(:id => @post), class:"btn btn-warning", method: :delete, data: { confirm: 'Are you sure?'} %>
			<% end %>
			<div class="fb-share-button" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.projectkalipay.com%2Farticle%3Fid%3D3&amp;src=sdkpreparse">Share</a>
			</div>
		</div>	
	</div>	
</div>

<%= render 'shared/footer' %>